<script type="text/javascript" src="./js/appointment.js"></script>

<!-- Patient information -->
<div class="container">
    <br><br><br><br><br>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    We need a few details before your appointment can be scheduled!
                </div>
                <!-- Patient form -->
                <div class="card-body">
                    <h5 class="card-title">Patient Information</h5>
                    <hr>
                    <form action="/patient/submit_appointment_form" method="post">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="patient_name">First name*</label>
                                <input type="text" class="form-control" id="patient_name" name="name_field"
                                    placeholder={{patientName}} required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="patient_last_name">Last name*</label>
                                <input type="text" class="form-control" id="patient_last_name" name="lastName_field"
                                    placeholder={{patientLastName}} required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="well">
                                    <div class="form-group">
                                        <label>Date of birth*</label>
                                        <input type="date" class="form-control" id="patientDOB" name="birth_date_field"
                                            placeholder="Date of Birth" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <div class="well">
                                    <div class="form-group">
                                        <label class="my-1 mr-2" for="patient_genre">Gender*</label>
                                        <select class="custom-select my-1 mr-sm-2" id="patient_genre" name="genre_field"
                                            required>
                                            <option selected value="">Choose...</option>
                                            <option value="Male">male</option>
                                            <option value="Female">female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 mb-3">
                                <label class="my-1 mr-2" for="visit_reason">Reason for the visit</label>
                                <input type="text" class="form-control my-1 mr-sm-2" id="visit_reason"
                                    name="reason_field" placeholder="Optional">
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <div class="well">
                                        <div class="form-group">
                                            <label for="patient-email">Email address*</label>
                                            <input type="email" class="form-control" id="patient-email"
                                                name="email_field" aria-describedby="emailHelp" required>
                                            <small id="emailHelp" class="form-text text-muted">We'll never share your
                                                email with anyone
                                                else.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="contact_phone">Phone number*</label>
                                    <input type="text" class="form-control" id="contact_phone" name="phone_field"
                                        placeholder="Enter 10 digit number" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input my-1 mr-sm-2" type="checkbox" value=""
                                            id="invalidCheck" required></input>
                                        <label class="form-check-label" for="invalidCheck">
                                            * Agree to Medik terms and conditions.
                                        </label>
                                    </div>
                                </div>
                            </div>
                            {{!-- Hidden Form data MARIO --}}
                            <div class="col-md-2 mb-2" hidden>
                                <label class="my-1 mr-2" for="mario-id">mariodata</label>
                                <input type="text" class="form-control my-1 mr-sm-2" name="mario-id"
                                    value="{{selectedDoctorID}}>" </div> <div class="col-md-2 mb-2" hidden>
                                <label class="my-1 mr-2" for="mario-name">mariodata</label>
                                <input type="text" class="form-control my-1 mr-sm-2" name="mario-name"
                                    value="{{selectedDoctorName}}">
                            </div>
                            <div class="col-md-2 mb-2" hidden>
                                <label class="my-1 mr-2" for="mario-specialty">mariodata</label>
                                <input type="text" class="form-control my-1 mr-sm-2" name="mario-specialty"
                                    value="{{selectedDoctorSpecialty}}">
                            </div>
                            <div class="col-md-2 mb-2" hidden>
                                <label class="my-1 mr-2" for="mario-office">mariodata</label>
                                <input type="text" class="form-control my-1 mr-sm-2" name="mario-office"
                                    value="{{selectedDoctorOffice}}">
                            </div>
                            <div class="col-md-2 mb-2" hidden>
                                <label class="my-1 mr-2" for="mario-address">mariodata</label>
                                <input type="text" class="form-control my-1 mr-sm-2" name="mario-address"
                                    value="{{address}}">
                            </div>
                            <div class="col-md-2 mb-2" hidden>
                                <label class="my-1 mr-2" for="mario-timeslot">mariodata</label>
                                <input type="text" class="form-control my-1 mr-sm-2" name="mario-timeslot"
                                    value="{{timeslot}}">
                            </div>
                            <hr>
                            <div class="form-row">
                                <div class="col">
                                    <button class="btn btn-primary" id="continue-btn">Continue</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </div>


    <!-- Appointment details -->
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;" id="appointment-details">
            <div class="card-body">
                <h5 class="card-title">Your appointment details:</h5>
                <h3 class="card-text" id="txt-clr">{{timeslot}}</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" id="appointment-details"><i class="fas fa-user-md"
                        id="muted-txt"></i></i><span id="muted-txt"> Dr.</span> {{selectedDoctorName}}</li>
                <li class="list-group-item" id="appointment-details"><i class="fas fa-briefcase-medical"></i><span
                        id="muted-txt"> Dr. Specialty:</span> {{selectedDoctorSpecialty}}</li>
                <li class="list-group-item" id="appointment-details"><i class="fas fa-map-marked"></i><span
                        id="muted-txt"> Dr. Address:</span><br>{{address}}</li>

            </ul>
            <div class="card-body">
                <a href="javascript:history.back()" class="card-link">Change date and time</a>
            </div>
        </div>
    </div>
</div>

</div>


