<script type="text/javascript" src="/js/search.js"></script>

<div class="row" id="availableTimesAndDates">
    {{#each this.jsonresp}}
        {{#each doctor}}
            <div 
            {{#lengthOfArrayV2 ../doctor 1}}
            class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"
            {{/lengthOfArrayV2}}
            {{#lengthOfArrayV2 ../doctor 2}}
            class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-6"
            {{/lengthOfArrayV2}}
            {{#lengthOfArrayV2 ../doctor 3}}
            class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
            {{else}}
            class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
            {{/lengthOfArrayV2}}
            >
                <div class="card" style="height: 100%;">
                    <div class="card-header">
                        {{name}}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                {{#if photoLink}}
                                    <img src={{photoLink}} class="card-img" alt="..." style="height:100%">
                                {{else}}
                                    <img src="http://www.uman.edu.mx/umanweb/maestriasaludpublica/images/p-egreso.jpg" class="card-img" alt="..." style="max-height:250px; max-width: 100px">
                                {{/if}}
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col">
                                        <small>Specialty: {{../name}}</small>
                                    </div>
                                </div>
                                {{#lengthOfArray office 1}}
                                <div class="row">
                                    <div class="col border border rounded pl-0 pr-0">
                                        {{!-- <small style="font-size: 0.8rem">Offices</small> --}}
                                        <select name="officesDropdown" id="officesDropdown" class="custom-select m-0" data-doctor={{id}}>
                                            {{#each office}}
                                            <option value={{id}}>{{address}}</option>
                                            {{/each}}
                                        </select>
                                        <button type="button" class="btn btn-primary" style="width: 100%" id="officePickerButton">Show availability!</button>
                                    </div>
                                </div>
                                {{/lengthOfArray}}
                            </div>
                        </div>
                        {{#each office}}
                            <div class={{#if @first}}"row officeRow"{{else}}"row officeRow d-none"{{/if}} id={{id}} data-doctor={{../id}}>
                                <div class="col">
                                    <div id={{datesCarousel id}} class="carousel slide availabilityCarousel" data-ride="carousel" data-interval="false">
                                        <div class="carousel-inner">
                                            {{#each availability}}
                                                <div class={{#if @first}}"carousel-item active text-center"{{else}}"carousel-item text-center"{{/if}}>
                                                    <hr>
                                                    <span>
                                                        <p>{{../address}}</p>
                                                        <p>{{datifier date}}</p>
                                                    </span>
                                                    {{#each availability}}
                                                    {{#hasAppointment id 0}}
                                                        <button type="button" class="btn btn-secondary mt-2 appt" style="min-width: 20px" disabled>{{time timeslot}}</button>
                                                    {{else}}
                                                        <button type="button" class="btn btn-primary mt-2 appt" style="min-width: 20px" id={{timeId ../date timeslot}} data-doctor={{../../../id}} data-doctorName={{join ../../../name}} data-specialty={{join ../../../../name}} data-office={{../../id}}  data-address={{join ../../address}}>{{time timeslot}}</button>
                                                    {{/hasAppointment}}
                                                    {{/each}}
                                                </div>
                                            {{/each}}
                                        </div>
                                        {{#lengthOfArray availability 1}}
                                        <a class="carousel-control-prev" href={{htDatesCarousel id}} role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href={{htDatesCarousel id}} role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                        {{/lengthOfArray}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="col text-secondary text-center">
            <hr>
            <h1 style="font-family: Candara">OOPS!</h1>
            <h5>No doctors with availability were found with the options you selected!</h5>
            <a type="submit" class="btn btn-primary" id="goBackToIndex" href="javascript:history.back()">Take me back</a>
            <hr>
        </div>
    {{/each}}
</div>
